---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
{% assign by_year = sorted_pubs | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign by_year = by_year | sort: "name" | reverse %}

<div class="pub-year-nav">
Publications (grouped by year):
{% for group in by_year %}<a href="#year-{{ group.name }}">{{ group.name }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
</div>
<hr/>

{% for group in by_year %}
  <span id="year-{{ group.name }}" class="yearGroup">{{ group.name }}</span>
  <ul class="papers">
    {% for post in group.items %}
      {% include archive-single-publication.html post=post %}
    {% endfor %}
  </ul>
{% endfor %}
